@import 'login';


:root {
    --mainBg: hsl(244, 60%, 64%);
}

$bg-image: url('../images/background2.png');
$text-color: chocolate;

body {
    margin: 0;
    height: 100vh;
    font-family: sans-serif;
    background: $bg-image;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a {
    color: rgb(53, 67, 160);
    text-decoration: none;
    background-color: transparent;
    margin-inline: 0.5rem;
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: black;
}